#language=fsharp

global !p
print("Hello World")
def hallo():
	print("ok")
	print("ok")
endglobal

snippet adsf asdf
if 1 = 1 then
	printfn "OK"
`!p print("hallo")`
endsnippet

snippet asdf
if 1 = 1 then
	printfn "OK"
endsnippet
