# language=sql
global !p
print("Hello World")
def hallo():
	print("ok")
	print("ok")
endglobal

snippet adsf asdf
select top 10 * from sometable
`!p print("hallo")` select top 100 * from knart
endsnippet

snippet asdf
select top 100 * from knart
endsnippet
