# language=markdown

global !p
print("Hello World")
def hallo():
	print("ok")
	print("ok")
endglobal

snippet __injected_python asdf
Some text
`!p print("hallo")` More text
endsnippet

snippet __text
Some text
endsnippet
